body {
    background-color: #a4fbe3;
}

.imagen {
    width: 40%;
    border: 1px solid #303841;
    float: right;
}

.titulo {
    color: #5f5dbd;
}

.texto {
    color: #5e87b8;
}

.texto2 {
    color: #35bcbf;
}
#descripcion {
    color: #5e87b8;
}
